<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a href="/articles" class="navbar-brand">Wikinimous</a>
        <a href="/articles/new" class="nav-link badge badge-light">Create a new Article</a>
    </nav>

    <%= yield %>
  </body>
</html>
